.page {
  ion-list-header {
    --border-width: 1px;
    --border-color: #d8d8d8;
    --color: #000;

    font-size: large;
    font-weight: 600;
    letter-spacing: -0.02rem;
    padding-left: 4rem;
  }

  ion-list {
    padding: 0;
  }

  .users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
}
